body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    margin: 50px;
}

form {
  width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  #resultado {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  }
  
  